@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-profile {
    position: absolute;
    top: 3rem;
    right: 7rem;
    width: 120px;
    padding: 15px;
    border-radius: 15px;
    background-color: bisque;
    border: 1px solid gray;
}

.dropdown-profile::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: 4rem;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: bisque;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}